<!--slider credits to https://codepen.io/thehonestape/pen/yjlGi -->
<!--card assets credits to https://opengameart.org/content/playing-cards-vector-png -->


<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/game.css'/>
    <script type="text/javascript" src="scripts/chat.js"></script>
    <script type="text/javascript" src="scripts/game.js"></script>
    <link rel='stylesheet' href='/stylesheets/chat.css'/>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>

<h1><%= user%></h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
    </div>


</nav>


<div id="container">
    <div id = "game">
        <div id = "top-player">
            <div id="space">
            </div>
            <div id = "opponents-top-cards">
                <img id = "card" src="https://pre00.deviantart.net/cb44/th/pre/i/2016/259/5/a/pokemon_card_backside_in_high_resolution_by_atomicmonkeytcg-dah43cy.png">
                <img id = "card" src="https://pre00.deviantart.net/cb44/th/pre/i/2016/259/5/a/pokemon_card_backside_in_high_resolution_by_atomicmonkeytcg-dah43cy.png">
            </div>

            <div id = "opponent-top-bank-roll">
                <div id = "bank">
                    <div id = "top-name">
                        <h6><strong>Player 2</strong></h6>
                    </div>

                    <div id = "bank">
                        <strong>Bank:</strong>
                        <div id = "topamount">
                            1000
                        </div>
                    </div>

                    <div id = "status">
                        <strong>Last Action:</strong>
                        <div id = "topaction">
                            Bet $100
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id = "middle">

            <div id = "left-player">
                <div id = "opponents-left-cards">
                    <img id = "card" src="https://pre00.deviantart.net/cb44/th/pre/i/2016/259/5/a/pokemon_card_backside_in_high_resolution_by_atomicmonkeytcg-dah43cy.png">

                    <img id = "card" src="https://pre00.deviantart.net/cb44/th/pre/i/2016/259/5/a/pokemon_card_backside_in_high_resolution_by_atomicmonkeytcg-dah43cy.png">
                </div>

                <div id = "opponent-left-bank-roll">
                    <div id = "bank">
                        <div id = "left-name">
                            <h6><strong>Player 2</strong></h6>
                        </div>

                        <div id = "bank">
                            <strong>Bank:</strong>
                            <div id ="leftamount">
                                1000
                            </div>
                        </div>

                        <div id = "status">
                            <strong>Last Action:</strong>
                            <div id = "leftaction">
                                Bet 100
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id = "table">
                <h4><strong>COMMUNITY</strong></h4>
                <div id = "community">
                    <img id = "flop1" src="https://pre00.deviantart.net/cb44/th/pre/i/2016/259/5/a/pokemon_card_backside_in_high_resolution_by_atomicmonkeytcg-dah43cy.png">

                    <img id = "flop2" src="https://pre00.deviantart.net/cb44/th/pre/i/2016/259/5/a/pokemon_card_backside_in_high_resolution_by_atomicmonkeytcg-dah43cy.png">

                    <img id = "flop3" src="https://pre00.deviantart.net/cb44/th/pre/i/2016/259/5/a/pokemon_card_backside_in_high_resolution_by_atomicmonkeytcg-dah43cy.png">

                    <img id = "turn"  src="https://pre00.deviantart.net/cb44/th/pre/i/2016/259/5/a/pokemon_card_backside_in_high_resolution_by_atomicmonkeytcg-dah43cy.png">

                    <img id = "river" src="https://pre00.deviantart.net/cb44/th/pre/i/2016/259/5/a/pokemon_card_backside_in_high_resolution_by_atomicmonkeytcg-dah43cy.png">
                </div>

                <div id = "chips">

                    <div id = "pot">
                        <h6><strong>Pot:</strong></h6>
                        <div id = "potamount">
                            2000
                        </div>
                    </div>

                    <div id = "current-bet">
                        <h6><strong>Last Action:</strong></h6>
                        <div id = "lastaction">
                            Player 1 bets 100
                        </div>
                    </div>
                </div>
            </div>

            <div id = "right-player">

                <div id = "opponents-right-cards">
                    <img id = "card" src="https://pre00.deviantart.net/cb44/th/pre/i/2016/259/5/a/pokemon_card_backside_in_high_resolution_by_atomicmonkeytcg-dah43cy.png">

                    <img id = "card" src="https://pre00.deviantart.net/cb44/th/pre/i/2016/259/5/a/pokemon_card_backside_in_high_resolution_by_atomicmonkeytcg-dah43cy.png">
                </div>

                <div id = "opponent-right-bank-roll">
                    <div id = "bank">
                        <div id = "right-name">
                            <h6><strong>Player 2</strong></h6>
                        </div>

                        <div id = "bank">
                            <strong>Bank:</strong>
                            <div id = "rightamount">1000</div>
                        </div>

                        <div id = "status">
                            <strong>Last Action:</strong>
                            <div id = "rightaction">
                                Bet 100
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id = "player">

            <div id = "turn">
                <strong>Player 2's Turn</strong>
            </div>

            <div id = "cards">
                <img id = "player-left-card" src="/images/2_of_clubs.png">

                <img id = "player-right-card" src="/images/3_of_clubs.png">
            </div>

            <div id = "controls">
                <div id = "playerbank">
                    <strong>Bank:</strong>
                    <p id ="playeramount">1000</p>
                </div>


                <div id = "buttons">
                    <button id="check" type="button" class="btn btn-warning">Check</button>
                    <button id="call" type="button" class="btn btn-primary">Call</button>
                    <button id="bet" type="button" class="btn btn-success">Bet</button>
                   <button id="fold" type="button" class="btn btn-danger">Fold</button>
                </div>

                <div class="slider">
                    <input id = "slider" type = "range" min="0" max="100" onchange="rangevalue.value=value"/>
                    <output id="rangevalue">50</output>
                </div>

            </div>

        </div>

    </div>

    <div id = "chat">
        <ul id="messages"></ul>
        <form action="">
            <input id="m" autocomplete="off" /><button>Send</button>
        </form>

            </div>
        </div></div>



</div>
</body>

</html>
