<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class = "container">
    <div class = "form-group">
      <label for = "usr">Username: </label>
      <input type = "text" class = "form-control" id = "usr">
    </div>
    <div class = "form-group">
      <label for = "pwd">Password:  </label>
      <input type = "text" class = "form-control" id = "pwd">
    </div>
      <button type="button">Sign up</button>
      <button type="button">Log In</button>
    </div>
  </body>
</html>
