<!DOCTYPE html>
<html>
<head>
    <title>Lobby</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="scripts/chat.js"></script>
    <script type="text/javascript" src="scripts/lobby.js"></script>
    <link rel='stylesheet' href='/stylesheets/chat.css'/>
    <link rel='stylesheet' href='/stylesheets/lobby.css'/>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
  <p id="userID" hidden><%=name%></p>
  <div id = "container">
    <div id = "left">
      <h1>Lobby!</h1>
      <div id = "games">
        <button id = "join">Join Game</button>
        <button id = "create">Create Game</button>
      </div>
    </div>

    <div id = "chat">
      <ul id="messages"></ul>
      <form id = "box-and-button">
        <input id="m" autocomplete="off" required/>
        <button id ="send">Send</button>
      </form>
    </div>

  </div>

    </div>
  </body>
</html>